*{
  padding:0;
  margin:0;
}
.header{
  padding:30px;
}
body{
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
form{
  text-align: center;
}
form input{
  height: 100%;
}
.side{
  display:flex;
  flex-basis:500px
}

.side ul{
  width:100%
}
.container{
  margin: 0 auto;
  border:1px solid black;
  text-align:center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  width:800px;
  padding:20px;
  margin-top:20px;
  margin-bottom:30px;
  box-shadow: 10px 10px grey;
}

.container li{
  list-style: none;
  text-align: start;
  padding-left: 10px;
}

.header button{
  width: 50px;
  background-color: wheat;
}